.gradle
build/
bin
target

# Necessary for test usage
userHome
build.gradle
settings.gradle


# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

temp/

